<% if @user.valid? %>
  window.location.replace('<%= root_path + path_with_hash_tag( subscription_categories_path) %>');
  window.location.reload();
<% else %>
  
  $('.error_messages').html("");
  <% @error_messages.each do |msg| %>   
    <% element = raw("<div class='s_u_alert'> #{msg} </div>") %>
    $('.error_messages').append("<%= element %>");
  <% end %>

<% end %>