<div class="col-md-6 col-md-offset-3 well">
  <h2>修改回饋主題</h2>
  <%= simple_form_for @feedback_subject, :url=>admin_feedback_subject_path(@feedback_subject), :html=>{
    multipart: true} do |f| %>

    <%=render :partial=>"form", :locals=>{:f=>f} %>

    <%= f.submit "修改回饋主題", :class=>"btn btn-primary"%>
  <%end%>