<div class="relative upload_program">
        <div class="u_p_frame poz_center">
            <p class="u_p_title">建立新節目</p>


            <%= form_for @program, url: programs_path(@category), :html=>{
              multipart: true} do |f| %>

              <%=render(:partial=>"form", :locals=>{:f=>f}) %>
            <%end%>

        </div>
        
        <%= render(partial: 'shared/footer') %>
    </div>






<!-- <div class="col-md-6 col-md-offset-3 well">
	<h1>新增節目</h1>

<%#= form_for @program , :html => {multipart: true} ,:url => programs_path(@program) do |f|%>

	<%#= render(:partial=>'form', :locals => {:f => f})%>

	<div class="form-group">
		<%#= f.submit("新增", :class=>"btn btn-primary")%>
	</div>
<%#end%> -->


<!-- </div> -->