
var search_reault_box = $('.search_result_box');

search_reault_box.html("");

<% if @programs.exists? %>
  <% @programs.each do |program| %>
    var result = '<div class="search_item">\
                          <div class="search_pic">\
                            <%= image_tag(program.image_url) %>\
                          </div>\
                          <div class="search_text">\
                              <div class="search_head">\
                                  <%= link_to(path_with_hash_tag(program_path(program))) do%>\
                                      <span class="search_title">\
                                        <%= render_program_subject(program.subject) %>\
                                      </span>\
                                  <% end %>\
                              </div>\
                               <div class="s_follow hover_opacity">\
                              </div>\
                              <div class="s_share hover_opacity">\
                              </div>\
                              <p class="search_intro">\
                                <%= program.introduction %>\
                              </p>\
                          </div>\
                    </div>';


    search_reault_box.append(result);
  <% end %>

<% else %>

  var nothing = '<div class="search_item">\
                          <div class="search_text">\
                              <div class="search_head">\
                                  <p>找不到符合的項目</p>\
                              </div>\
                          </div>\
                    </div>';

  search_reault_box.append(nothing);
<% end %>




