<% if obj.errors.any? %>
  <div class="r_alert_frame error_messages">
    <% obj.errors.full_messages.each do |msg| %>
      <div class='s_u_alert'> <%= msg  %> </div>
    <% end %>
  </div>
<% end %>