
<% footer_class = "footer" if local_assigns[:footer_class].nil? %>
<div class="<%= footer_class %>">
    <span>
        <a href="">法律條款</a>
    </span>
    <span>
        <a href="">聯絡我們</a>
    </span>
    <span>
        <a href="">加入我們</a>
    </span>
    <span>
        <a href="">廣告合作</a>
    </span>
</div>