    <div style= "width:100%;margin:0px auto 0px auto">
        <div class="relative main_frame">
            <%= render partial: 'unlogin_frame'%>
        </div>
    </div>
    
    

    <%= render partial: 'loading' %>

    <%= render partial: 'shared/header' %>

    <%= render partial: 'components' %>